
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>
<section layout:fragment="create_menuItem_section" class="book_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        Create New Menu Item
      </h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form_container">
          <form action="/menuItem-create.html" method="POST" th:object="${menuItem}">
            <div>
              <input type="text" class="form-control" th:field="*{name}" placeholder="Name" />
            </div>
            <div>
              <input type="text" class="form-control" th:field="*{description}" placeholder="Description" />
            </div>
            <div>
              <input type="text" class="form-control" th:field="*{price}" placeholder="Price" />
            </div>
            <div>
              <select class="form-control" th:field="*{menuCategory.id}">
                <option value="">Select Menu Category</option>
                <option th:each="category : ${menuCategories}" th:value="${category.id}" th:text="${category.name}"></option>
              </select>
            </div>
            <div>
              <input type="text" class="form-control" th:field="*{pictureUrl}" placeholder="Picture URL" />
            </div>


            <div>
              <label for="isActiveTrue">Active:</label>
              <input type="radio" id="isActiveTrue" th:name="active" th:field="*{active}" th:value="true" required="required" />
              <label for="isActiveTrue">Yes</label>
              <input type="radio" id="isActiveFalse" th:name="active" th:field="*{active}" th:value="false" required="required" />
              <label for="isActiveFalse">No</label>
            </div>





            <div class="btn_box">
              <button type="submit">
                Create
              </button>
            </div>
          </form>

        </div>
      </div>

    </div>
  </div>
  </div>
</section>
</body>
</html>